* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.background-gradient {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: textclip 2s linear infinite;
  z-index: 999;
  line-height: 1;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

body {
  background-color: #facccf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  border-radius: 10px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-pr {
  height: 30rem;
  width: 30rem;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 1);
}
.card_container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  perspective: 1500px;
}
.card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 2;
  transform-origin: left;
  animation: fold 20s infinite cubic-bezier(0.68, -0.33, 0.27, 1);
}

@keyframes fold {
  0%,
  50% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(-180deg);
  }
  75% {
    transform: rotateY(-180deg);
  }
}
.img-flower {
  width: 20rem;
  height: 20rem;
}

.party-baloons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/Party-balloons.svg");
  background-position: top;
  background-size: cover;
  background-repeat: repeat-y;
  animation: baloons 3s linear infinite;
}

@keyframes baloons {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
#baloons {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
}

.content {
  position: absolute;
  bottom: 3rem;
  width: 13rem;
  height: 5rem;
  padding: 20px;
  background: white;
  border-radius: 10px;
  border-style: solid;
  align-content: center;
  font-family: "Noto Serif Display";
  font-weight: 800;
  color: #932665;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .card_container {
    width: 90%;
    height: auto;
    perspective: 1200px; /* Adjust perspective for mobile */
  }

  .card-cover {
    border-radius: 5px;
  }

  .img-flower {
    width: 90%;
    height: auto;
  }
}
